# Credenciais do Google Cloud
*.json

# Configurações do Streamlit (Secrets)
.streamlit/secrets.toml

# Pastas de ambiente e cache
__pycache__/
*.py[cod]
venv/
env/
.env

# Sistema Operacional
.DS_Store
Thumbs.db